In [2]:
import pandas as pd 
import faker
from faker import Faker
from faker.providers.phone_number import Provider
import mysql.connector as mysql
import os
import sys
import random
import numpy as np

In [2]:
user = os.environ.get('USER')
password = os.environ.get('PASSWORD')
host = os.environ.get('HOST')
database = os.environ.get('DATABASE')

In [3]:
connect_bool = 1
if connect_bool:
    conn = mysql.connect(host=host, user=user, password=password, database=database)
    cursor = conn.cursor()

In [4]:
fill = 1

In [5]:
fake = Faker(['pl_PL'])

class PolishPhoneNumberProvider(Provider):
    """
    A Provider for phone number.
    """

    def polish_phone_number(self):
        return f'+48 {self.msisdn()[:3]} {self.msisdn()[3:6]} {self.msisdn()[6:9]}'
    
fake.add_provider(PolishPhoneNumberProvider)

In [6]:
if fill:

    for i in range(1000):
        profile = fake.profile()
        phone = fake.polish_phone_number()
        first_name = profile['name'].split(' ')[-2]
        last_name = profile['name'].split(' ')[-1]
        email = profile['mail']
        adress = profile['address'].replace('\n',', ')
        family_member_profile = fake.profile()
        family_member_phone = fake.polish_phone_number()
        family_member_email = family_member_profile['mail']
        family_gender = family_member_profile['sex']
        if family_gender == 'M':
            family_relation = np.random.choice([
                'brat', 
                'ojciec', 
                'syn', 
                'wujek', 
                'dziadek', 
                'kuzyn', 
                'wnuk', 
                'pradziadek', 
                'prawnuk'], 
            p=[0.2, 0.2, 0.2, 0.1, 0.1, 0.1, 0.05, 0.025, 0.025])
        elif family_gender == 'F':
            family_relation = np.random.choice([
                'siostra',
                'matka',
                'córka',
                'ciocia',
                'babcia',
                'kuzynka',
                'wnuczka',
                'prababcia',
                'prawnuczka'],
            p=[0.2, 0.2, 0.2, 0.1, 0.1, 0.1, 0.05, 0.025, 0.025])
        else:
            family_relation = None
        
        cursor.execute(f"""INSERT INTO Uczestnicy (imie, nazwisko, telefon, email, adres, telefon_rodziny, email_rodziny, relacja_z_rodzina) 
            VALUES (
                '{first_name}', 
                '{last_name}', 
                '{phone}',
                '{email}',
                '{adress}',
                '{family_member_phone}',
                '{family_member_email}',
                '{family_relation}'
                
                );""")
        conn.commit()

In [3]:
fill=1

if fill:
    themes_descriptions = {
        'Poszukiwania Skarbów w Mieście' : 'Poszukiwania Skarbów w Mieście to ekscytująca gra terenowa, która połączy przygodę z historią. W jednym z dostępnych miast, uczestnicy będą musieli rozwiązywać zagadki i tropić wskazówki, które zaprowadzą ich do ukrytego skarbu. Wciągająca zabawa, która dostarczy adrenaliny i radości.',
        'Podróże Zmysłów' : 'Podróże Zmysłów to unikalne doświadczenie, które angażuje wszystkie zmysły uczestników. W jednym z dostępnych miast, wycieczka pozwala na głębokie zanurzenie się w zapachy, smaki, dźwięki i widoki, tworząc niezapomniane wspomnienia i uczucia, które zostaną z uczestnikami na długo.',
        'Geocaching dla Zdobywców' : 'Geocaching dla Zdobywców to doskonała okazja do połączenia zabawy z aktywnością na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą poszukiwać ukrytych skarbów, korzystając z GPS i rozwiązując zagadki, które prowadzą do skrytek. Idealna zabawa dla całych rodzin oraz grup przyjaciół.',
        'Zwiedzanie na Całego' : 'Zwiedzanie na Całego to dynamiczna wycieczka, która zabierze Cię do najciekawszych atrakcji w jednym z dostępnych miast. Podczas tej przygody odkryjesz najważniejsze zabytki, ukryte zakątki i fascynujące historie, które czekają na każdego podróżnika spragnionego wrażeń.',
        'Historyczna Gra Terenowa' : 'Historyczna Gra Terenowa t0o ekscytująca przygoda, która przenosi uczestników w świat historii, pozwalając odkrywać tajemnice przeszłości. W jednym z dostępnych miast, gracze będą mieli okazję rozwiązywać zagadki, odkrywać ważne miejsca i poznać lokalne legendy, wciągając się w fascynującą grę pełną emocji i wiedzy.',
        'Kulinarna archeologia miasta' : 'Kulinarna archeologia miasta to wyjątkowe doświadczenie, które pozwala na odkrycie smaków i historii jednocześnie. W jednym z dostępnych miast, uczestnicy będą mieli okazję spróbować tradycyjnych potraw, poznać lokalne przysmaki i dowiedzieć się więcej o kulinarnych tradycjach, które kryją się za każdym rogiem.',
        'Mikrohistoria pod lupą' : 'Mikrohistoria pod lupą to fascynująca wycieczka, która pozwala na odkrycie historii na najbliższym poziomie. W jednym z dostępnych miast, uczestnicy będą mieli okazję poznać lokalne legendy, historie i ciekawostki, które tworzą niepowtarzalny klimat miejsca, wciągając się w podróż pełną emocji i wrażeń.',
        'Zapomniane rzemiosła' : 'Zapomniane rzemiosła to wyjątkowe doświadczenie, które pozwala na odkrycie tradycji i rzemiosł, które kryją się za każdym rogiem. W jednym z dostępnych miast, uczestnicy będą mieli okazję poznać tajemnice starych rzemiosł, spróbować swoich sił w tradycyjnych technikach i odkryć nowe pasje, które mogą zmienić ich życie.',
        'Kino w mieście' : 'Kino w mieście to wyjątkowe doświadczenie, które pozwala na odkrycie magii kina na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą mieli okazję obejrzeć wyjątkowe filmy, uczestniczyć w dyskusjach i spotkaniach z twórcami, a także poznać tajniki sztuki filmowej, wciągając się w fascynujący świat kina.',
        'Sztuka na ulicy' : 'Sztuka na ulicy to wyjątkowe doświadczenie, które pozwala na odkrycie magii sztuki na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą mieli okazję podziwiać murale, rzeźby i instalacje artystyczne, uczestniczyć w warsztatach i spotkaniach z artystami, a także poznać tajniki sztuki ulicznej, wciągając się w fascynujący świat sztuki.'
    }
    for theme, desc in themes_descriptions.items():
        
        mu = 200
        sigma = 20
        cost = np.random.normal(mu, sigma)
        cost = round(cost, 2)
        cost = np.clip(cost, 130, 270)
        
        cursor.execute(f"""INSERT INTO Tematyki (nazwa, opis, koszt) 
            VALUES (
                '{theme}', 
                '{desc}',
                '{cost}'
                );""")
    conn.commit()

INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Poszukiwania Skarbów w Mieście',
                'Poszukiwania Skarbów w Mieście to ekscytująca gra terenowa, która połączy przygodę z historią. W jednym z dostępnych miast, uczestnicy będą musieli rozwiązywać zagadki i tropić wskazówki, które zaprowadzą ich do ukrytego skarbu. Wciągająca zabawa, która dostarczy adrenaliny i radości.',
                '216.28'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Podróże Zmysłów',
                'Podróże Zmysłów to unikalne doświadczenie, które angażuje wszystkie zmysły uczestników. W jednym z dostępnych miast, wycieczka pozwala na głębokie zanurzenie się w zapachy, smaki, dźwięki i widoki, tworząc niezapomniane wspomnienia i uczucia, które zostaną z uczestnikami na długo.',
                '213.72'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Geocaching dla Zdobywców',
                'Geocaching dla Zdobywców to doskonała okazja do połączenia zabawy z aktywnością na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą poszukiwać ukrytych skarbów, korzystając z GPS i rozwiązując zagadki, które prowadzą do skrytek. Idealna zabawa dla całych rodzin oraz grup przyjaciół.',
                '179.79'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Zwiedzanie na Całego',
                'Zwiedzanie na Całego to dynamiczna wycieczka, która zabierze Cię do najciekawszych atrakcji w jednym z dostępnych miast. Podczas tej przygody odkryjesz najważniejsze zabytki, ukryte zakątki i fascynujące historie, które czekają na każdego podróżnika spragnionego wrażeń.',
                '164.62'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Historyczna Gra Terenowa',
                'Historyczna Gra Terenowa t0o ekscytująca przygoda, która przenosi uczestników w świat historii, pozwalając odkrywać tajemnice przeszłości. W jednym z dostępnych miast, gracze będą mieli okazję rozwiązywać zagadki, odkrywać ważne miejsca i poznać lokalne legendy, wciągając się w fascynującą grę pełną emocji i wiedzy.',
                '199.76'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Kulinarna archeologia miasta',
                'Kulinarna archeologia miasta to wyjątkowe doświadczenie, które pozwala na odkrycie smaków i historii jednocześnie. W jednym z dostępnych miast, uczestnicy będą mieli okazję spróbować tradycyjnych potraw, poznać lokalne przysmaki i dowiedzieć się więcej o kulinarnych tradycjach, które kryją się za każdym rogiem.',
                '215.08'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Mikrohistoria pod lupą',
                'Mikrohistoria pod lupą to fascynująca wycieczka, która pozwala na odkrycie historii na najbliższym poziomie. W jednym z dostępnych miast, uczestnicy będą mieli okazję poznać lokalne legendy, historie i ciekawostki, które tworzą niepowtarzalny klimat miejsca, wciągając się w podróż pełną emocji i wrażeń.',
                '214.82'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Zapomniane rzemiosła',
                'Zapomniane rzemiosła to wyjątkowe doświadczenie, które pozwala na odkrycie tradycji i rzemiosł, które kryją się za każdym rogiem. W jednym z dostępnych miast, uczestnicy będą mieli okazję poznać tajemnice starych rzemiosł, spróbować swoich sił w tradycyjnych technikach i odkryć nowe pasje, które mogą zmienić ich życie.',
                '211.44'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Kino w mieście',
                'Kino w mieście to wyjątkowe doświadczenie, które pozwala na odkrycie magii kina na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą mieli okazję obejrzeć wyjątkowe filmy, uczestniczyć w dyskusjach i spotkaniach z twórcami, a także poznać tajniki sztuki filmowej, wciągając się w fascynujący świat kina.',
                '252.14'
                );
INSERT INTO Tematyki (nazwa, opis, koszt)
            VALUES (
                'Sztuka na ulicy',
                'Sztuka na ulicy to wyjątkowe doświadczenie, które pozwala na odkrycie magii sztuki na świeżym powietrzu. W jednym z dostępnych miast, uczestnicy będą mieli okazję podziwiać murale, rzeźby i instalacje artystyczne, uczestniczyć w warsztatach i spotkaniach z artystami, a także poznać tajniki sztuki ulicznej, wciągając się w fascynujący świat sztuki.',
                '184.04'
                );

In [8]:
forign_cities = {
    'Paryż': 'Francja', 'Lyon': 'Francja', 'Nicea': 'Francja', 'Marsylia': 'Francja', 'Bordeaux': 'Francja',
    'Madryt': 'Hiszpania', 'Barcelona': 'Hiszpania', 'Sevilla': 'Hiszpania', 'Valencia': 'Hiszpania', 'Malaga': 'Hiszpania',
    'Rzym': 'Włochy', 'Wenecja': 'Włochy', 'Florencja': 'Włochy', 'Mediolan': 'Włochy', 'Neapol': 'Włochy',
    'Dubrownik': 'Chorwacja', 'Split': 'Chorwacja', 'Zagrzeb': 'Chorwacja', 'Rijeka': 'Chorwacja', 'Pula': 'Chorwacja',
    'Kopenhaga': 'Dania', 'Aarhus': 'Dania', 'Odense': 'Dania', 'Aalborg': 'Dania', 'Esbjerg': 'Dania'
}
          
if fill:
    for city, countries in forign_cities.items():
        mu = 250
        sigma = 30
        cost = np.random.normal(mu, sigma)
        cost = round(cost, 2)
        cost = np.clip(cost, 200, 300)
        
        
        cursor.execute(f"""INSERT INTO Kierunki (miasto, koszt, kraj)
            VALUES (
                '{city}',
                '{cost}',
                '{countries}'
                );""")
    conn.commit()
        
    for city in ['Warszawa', 'Kraków', 'Gdańsk', 'Zakopane', 'Poznań']:
        mu = 50
        sigma = 10
        cost = np.random.normal(mu, sigma)
        cost = round(cost, 2)
        cost = np.clip(cost, 30, 70)
        
        cursor.execute(f"""INSERT INTO Kierunki (miasto, koszt, kraj)
            VALUES (
                '{city}',
                '{cost}',
                'Polska'
                );""")

In [9]:
fill = 1

if fill:
    for i in range(20):
        profile = fake.profile()
        phone = fake.polish_phone_number()
        first_name = profile['name'].split(' ')[0]
        last_name = profile['name'].split(' ')[1]
        email = first_name.lower() + '.' + last_name.lower() + '@biuro.frajdy.pl'
        date_of_employment = fake.date_between(start_date='-5y', end_date='-1m')
        salery = np.random.normal(7000, 1000)
        salery = round(salery, -1)
        salery = np.clip(salery, 5000, 10000)
        position = np.random.choice(['Przewodnik', 'Agent Biura Podróży', 'Zastępca Kierownika', 'Kierownik'], p=[0.2, 0.6, 0.15, 0.05])
        
        cursor.execute(f"""INSERT INTO Pracownicy (imie, nazwisko, telefon, email, data_zatrudnienia, wynagrodzenie, stanowisko) 
            VALUES (
                '{first_name}', 
                '{last_name}', 
                '{phone}',
                '{email}',
                '{date_of_employment}',
                '{salery}',
                '{position}'
                );""")
            

    cursor.execute(f"""
    INSERT INTO Pracownicy (imie, nazwisko, telefon, email, data_zatrudnienia, wynagrodzenie, stanowisko)
    VALUES ('Dominik', 'Jur', '{fake.polish_phone_number()}', 'jur.dominik@biuro.frajdy.pl', '2021-01-03', 15020, 'Prezes'),
    ('Szymon', 'Klim', '{fake.polish_phone_number()}', 'szymon.klim@biuro.frajdy.pl', '2021-01-14', 7870, 'Księgowy'),
    ('Kacper', 'Samulski', '{fake.polish_phone_number()}', 'kacper.samulski@biuro.frajdy.pl', '2021-03-03', 9070, 'Analityk danych'),
    ('Albert', 'Janik', '{fake.polish_phone_number()}', 'albert.janik@biuro.frajdy.pl', '2021-02-04', 10070, 'Wiceprezes')
              """)
    conn.commit()

In [10]:
from calendar import monthrange
from datetime import datetime, timedelta


def generate_biased_date(fake, year_range, summer_months=(6, 7, 8), summer_bias=0.7, count=100):
    dates = []
    for _ in range(count):
        if random.random() < summer_bias:
            month = random.choice(summer_months)
        else:
            other_months = [m for m in range(1, 13) if m not in summer_months]
            month = random.choice(other_months)
        
        # Handle random day generation based on month and year
        year = random.randint(year_range[0], year_range[1])
        # Use `monthrange` from calendar module to get the last valid day for the month
        _, last_day = monthrange(year, month)
        
        day = random.randint(1, last_day)  # Ensure the day is valid for the month
        start_date = datetime(year, month, 1)
        end_date = datetime(year, month, last_day)
        
        date = fake.date_between_dates(date_start=start_date, date_end=end_date)
        dates.append(date)
    
    return dates

In [11]:

if fill: # wycieczki
    
    cursor.execute("SELECT id_tematyki FROM Tematyki;")
    theme_ids = [row[0] for row in cursor.fetchall()]

    cursor.execute("SELECT id_kierunku FROM Kierunki;")
    dest_ids = [row[0] for row in cursor.fetchall()]
    already_seen = set()
    i = 0
    while len(already_seen) < 1000 or i < 1000:
        i += 1
        
        dest = np.random.choice(dest_ids)
        theme = np.random.choice(theme_ids)
        start_date = generate_biased_date(fake, (2015, 2024), count=1)[0]
        end_date = start_date + timedelta(days=int(np.clip(round(np.random.normal(7, 3)), 1, 18)))
        total_days = (end_date - start_date).days
        number_of_participants = np.clip(np.random.poisson(4), 1, 30)

        cursor.execute(f"""(SELECT (k.koszt+(t.koszt * {total_days}))*{number_of_participants} as koszt
                FROM Kierunki k
                    JOIN Tematyki t 
                    ON k.id_kierunku = '{dest}' AND t.id_tematyki = '{theme}'
                LIMIT 1);""")
        cost = float([row[0] for row in cursor.fetchall()][0])
        cursor.execute(f"""INSERT INTO Wycieczki (
                id_wycieczki,
                id_tematyki,
                id_kierunku,
                id_pracownika,
                data_rozpoczecia,
                data_zakonczenia,
                koszt_organizacji,
                ilosc_uczestnikow
                )
              
            VALUES (
                '{i}',
                '{theme}',
                '{dest}',
                null, 
                '{start_date}',
                '{end_date}',
                '{cost}',
                '{number_of_participants}'
                
                );""")
        conn.commit()
        
        cursor.execute("SELECT id_uczestnika FROM Uczestnicy;")
        participant_ids = [row[0] for row in cursor.fetchall()]
       
        already_on_trip = set()
        while len(already_on_trip) < number_of_participants:
            participant_id = np.random.choice(participant_ids)
            if participant_id not in already_on_trip:
                
                rated = np.random.rand() > 0.6
                rating = np.random.choice([1, 2, 3, 4, 5],
                    p=[0.2, 0.03, 0.07, 0.3, 0.4]) if rated else None
                
                
                cursor.execute(f"""INSERT INTO Wycieczki_Uczestnicy (
                    id_uczestnika,
                    id_wycieczki,
                    kupujacy,
                    ocena
                    )
                VALUES (
                    '{participant_id}',
                    '{i}',
                    '{int(len(already_on_trip) == 0)}',
                    {rating if rating else 'NULL'}
                    );""")
                
                
                already_on_trip.add(participant_id)
                already_seen.add(participant_id)

                
        conn.commit()  
         
        cursor.execute("SELECT id_pracownika FROM Pracownicy WHERE stanowisko = 'Agent Biura Podróży';")
        agent_ids = [row[0] for row in cursor.fetchall()]
        agent = np.random.choice(agent_ids)
        price = cost * np.clip(np.random.normal(1.3, 0.1), 1.1, 1.5)
        transaction_type = np.random.choice(['karta platnicza', 'gotówka', 'przelew', 'paypal'], p=[0.7, 0.1, 0.1, 0.1])
        transaction_date = fake.date_between_dates(
                date_start=start_date - timedelta(days=700), 
                date_end=start_date - timedelta(days=14)
            )
                    
        cursor.execute(f"""INSERT INTO Transakcje (
            id_uczestnika,
            id_pracownika,
            id_wycieczki,
            kwota,
            sposob_platnosci,
            data_transakcji
            ) 
            VALUES 
            (
            (SELECT id_uczestnika FROM Wycieczki_Uczestnicy WHERE id_wycieczki = '{i}' AND kupujacy = 1 LIMIT 1),
            '{agent}',
            '{i}',
            '{price}',
            '{transaction_type}',
            '{transaction_date}'
            );""")
    
        conn.commit()

In [12]:
cursor.close()
conn.close()